# chi_square_exercises

In [1]:
import pandas as pd 
from scipy import stats
from pydataset import data

## 1. Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

#### $H_o$: Using a macbook and being a codeup student are independent of one another.
#### $H_a$: Using a macbook and being a codeup student are not independent of one another. 
#### Confident Interval: .95
#### $\alpha$: .05

In [16]:
# Creating the DataFrame
index = ['Uses a Macbook' , 'Doesnt Use a Macbook']
columns = ['Codeup Student', 'Not a Codeup Student']

c_table_mac_codeup = pd.DataFrame([[49, 20], [1, 30]], index = index, columns = columns)
c_table_mac_codeup

                      Codeup Student  Not a Codeup Student
Uses a Macbook                    49                    20
Doesnt Use a Macbook               1                    30

In [20]:
chi2, p, degf, expected = stats.chi2_contingency(c_table_mac_codeup)
print('Observed\n')
print(c_table_mac_codeup)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
\aint(f'p     = {p:.4f}')

Observed

                      Codeup Student  Not a Codeup Student
Uses a Macbook                    49                    20
Doesnt Use a Macbook               1                    30
---
Expected

[[34.5 34.5]
 [15.5 15.5]]
---

chi^2 = 36.6526
p     = 0.0000

In [27]:
α = .05

if p < α:
    print('Reject Null Hypothesis')
else:
    print('Fail to Reject Null Hypothesis')

Reject Null Hypothesis

## 2. Choose another 2 categorical variables from the mpg dataset and perform a \$chi^2$ contingency table test with them. Be sure to state your null and alternative hypotheses.

In [47]:
mpg_df = data('mpg')
mpg_df.nunique()

index = mpg_df['class']
columns = mpg_df.drv

#### $H_o$:  The drive and class are independent of one another.
#### $H_a$: There is a relationship between drive and class

In [49]:
α = .05 #Setting the alpha

#Using crosstab to create the DataFrame
drv_class_df = pd.crosstab(index, columns)
drv_class_df

drv          4   f   r
class
2seater      0   0   5
compact     12  35   0
midsize      3  38   0
minivan      0  11   0
pickup      33   0   0
subcompact   4  22   9
suv         51   0  11

In [52]:
#χ^2 Test

chi2, p, degf, expected = stats.chi2_contingency(drv_class_df)

print('Observed\n')
print(drv_class_df.values)
print('---\nExpected\n')
print(expected)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[ 0  0  5]
 [12 35  0]
 [ 3 38  0]
 [ 0 11  0]
 [33  0  0]
 [ 4 22  9]
 [51  0 11]]
---
Expected

[[ 2.2008547   2.26495726  0.53418803]
 [20.68803419 21.29059829  5.02136752]
 [18.04700855 18.57264957  4.38034188]
 [ 4.84188034  4.98290598  1.17521368]
 [14.52564103 14.94871795  3.52564103]
 [15.40598291 15.85470085  3.73931624]
 [27.29059829 28.08547009  6.62393162]]
---

chi^2 = 221.6011
p     = 0.0000

# Use the data from the employees database
## 3a.  Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)

In [69]:
from env import host, user, password #importing the data from SQL

url = f'mysql+pymysql://{user}:{password}@{host}/employees'

#converting a dataframe
sql_query = pd.DataFrame(pd.read_sql('select * from employees join departments on emp_no ', url)) 

employees_df = sql_query

In [73]:
employees_df.head()

#breaking out gender and department

TypeError: unsupported operand type(s) for |: 'str' and 'str'

## 3b. Is an employee's gender independent of whether or not they are or have been a manager?