# correlation_exercises

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from math import sqrt

from scipy import stats
from pydataset import data

In [2]:
telco_df = pd.read_csv('telco_churn_stats.csv') #to bring in telco csv file as DataFrame
telco_df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# 1a. Use the telco_churn data. Does tenure correlate with monthly charges? 
# 1b. Total charges? 
# 1c. What happens if you control for phone and internet service?

In [3]:
x_tenure = telco_df.tenure

y_monthlycharges = telco_df.MonthlyCharges

corr, p = stats.pearsonr(x_tenure, y_monthlycharges)
print(f'r(x,y): {corr}, p: {p}')

r(x,y): 0.24789985628615002, p: 4.0940449915016345e-99

In [10]:
telco_df = telco_df.dropna() #to drop the NA's

x = telco_df.tenure

y = telco_df.TotalCharges

corr, p = stats.pearsonr(x, y)
print(f'r(x,y): {corr}, p: {p} <---tenure and TotalCharges')

r(x,y): 0.825880460933202, p: 0.0 <---tenure and TotalCharges

In [13]:
telco_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [29]:
# Controlling for InternetService
telco_df.InternetService.value_counts()
# Fiber optic    3096
# DSL            2416
# No             1520

telco_df_fiber = telco_df[telco_df.InternetService == 'Fiber optic'] #Fiber only DataFrame
telco_df_dsl = telco_df[telco_df.InternetService == 'DSL'] #DSL only DataFrame
telco_df_none = telco_df[telco_df.InternetService == 'No'] #No internet DataFrame

x_fiber = telco_df_fiber.tenure
x_dsl = telco_df_dsl.tenure
x_none = telco_df_none.tenure

y_control = telco_df.MonthlyCharges

# 2. Use the employees database.
- Is there a relationship between how long an employee has been with the company and their salary?
- Is there a relationship between how long an employee has been with the company and the number of titles they have had?