# statistics_exercises

### 1. How likely is it that you roll doubles when rolling two dice?

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz

np.random.seed(29)

In [55]:
np.random.seed(29)

n_trials1 = n_rows1 = 100_000 #number of trials, we are running 100_000 dice roll trials

n_dice1 = n_cols1 = 2 #number of instances in each trial, there are 2 dice in each roll

#creating 2D array for the simulation
rolls1 = np.random.choice([1, 2, 3, 4, 5, 6], n_trials1 * n_dice1).reshape(n_rows1, n_cols1)

#turning the 2D array into a DataFrame
df_rolls1 = pd.DataFrame(rolls1, columns=["die_one", "die_two"])
df_rolls1.head(3)

   die_one  die_two
0        6        4
1        5        6
2        3        1

In [37]:
#creating a boolean series that returns true or false for each trial where the values are equal
doubles = df_rolls1.die_one == df_rolls1.die_two

#finding the probability of doubles == True by taking the mean of the series
doubles.mean()

0.1709

#### Using a Lambda Function

In [59]:
#to get the a boolean series of which rows have doubles
doubles_lambda = df_rolls1.apply(lambda row: row[0] == row[1], axis = 1)

#to get the probability of doubles by taking the mean of the boolean series
doubles_lambda.mean()

0.16645

### 2a. If you flip 8 coins, what is the probability of getting exactly 3 heads?

In [34]:
n_trials2 = n_rows2 = 10_0000 #number of trials, there will be 10_000 flips in our simulation

n_coins2 = n_cols2 = 8 #number of instances in each trial, there are 8 coins in each flip

#creating a 2D array for the simulation
    #1 = HEADS
    #0 = TAILS
flips2 = np.random.choice([1, 0], n_trials2 * n_coins2).reshape(n_rows2, n_cols2)

#turning the 2D array into a DataFrame
df_flips2 = pd.DataFrame(flips2)
df_flips2.head(3)

   0  1  2  3  4  5  6  7
0  0  1  0  1  0  0  0  1
1  1  1  0  1  0  0  0  1
2  0  0  0  0  1  1  0  1

In [33]:
#2a 
#using a lambda function to create a pandas series of boolean values where
    #row has exactly x3 HEADS (1's)
    
three_heads = df_flips2.apply(lambda row: row.sum() == 3, axis =1)
three_heads

#finding the probability of the above by taking the mean of the series
three_heads.mean()

0.21948

### 2b.What is the probability of getting more than 3 heads?

In [32]:
#2b
#using a lambda function to create a pandas series of boolean values where
    #each row has more than x3 HEADS (1's)
more_than_three = df_flips2.apply(lambda row: row.sum() > 3, axis =1)
more_than_three

#finding the probability of the above by taking the mean of the series
more_than_three.mean()

0.63539

### 3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. 
- Assuming that Codeup randomly selects an alumni to put on a billboard, 
- what are the odds that the two billboards I drive past both have data science students on them?

In [40]:
n_trials3 = n_rows3 = 10_000 #we will drive past 10,000 times

n_boards = n_cols3 = 2 #each time we drive past there will be x2 instances or billboards

#creating a pandas array for the simulation
    #1 = Data Science student
    #0 = Web Dev student
trips = np.random.choice([1, 0], n_trials3 * n_boards).reshape(n_rows3, n_cols3)
trips

array([[0, 0],
       [0, 1],
       [0, 1],
       ...,
       [1, 1],
       [0, 0],
       [0, 0]])

In [54]:
p_ds = .25 #probability of a Data Science alumnus being on a board, 1 out of 4 chance

n_simulated_trips = n_rows3 = 10_000 #number of simulated trials, we will simulate 10,000 trips

n_boards = n_cols3 = 2 #number of boards (instances) in each trial

#to get a 2D array will our simulated results
simulated_results3 = np.random.random((n_rows3, n_cols3))

#to find out which values from our array fall within our p_ds percentile of under .25
#create DataFrame
ds_alum = simulated_results3 < p_ds
df_ds_alum = pd.DataFrame(ds_alum, columns=['billboard_one', 'billboard_two'])
df_ds_alum.head(3)

#use lambda function to create a series of booleans that filters for [True, True]
two_ds_alum = df_ds_alum.apply(lambda row: row.sum() == 2, axis = 1)
two_ds_alum

#find the probability of the boolean mask filter by taking the mean of the series of booleans
two_ds_alum.mean()

0.0616

### 4.