# statistics_exercises

### 1. How likely is it that you roll doubles when rolling two dice?

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd

import viz

np.random.seed(29)

In [9]:
np.random.seed(29)

n_trials1 = n_rows1 = 10_000 #number of trials, we are running 10_000 dice roll trials

n_dice1 = n_cols1 = 2 #number of instances in each trial, there are 2 dice in each roll

#creating 2D array for the simulation
rolls1 = np.random.choice([1, 2, 3, 4, 5, 6], n_trials1 * n_dice1).reshape(n_rows1, n_cols1)

#turning the 2D array into a DataFrame
rolls1 = pd.DataFrame(rolls1, columns=["die_one", "die_two"])

#creating a boolean series that returns true or false for each trial where the values are equal
doubles = rolls1.die_one == rolls1.die_two

#finding the probability of doubles == True by taking the mean of the series
doubles.mean()

0.1709

### 2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [15]:
n_trials2 = n_rows2 = 10_0000 #number of trials, there will be 10_000 flips in our simulation

n_coins2 = n_cols2 = 8 #number of instances in each trial, there are 8 coins in each flip

#creating a 2D array for the simulation
    #1 = HEADS
    #2 = TAILS
flips2 = np.random.choice([1, 2], n_trials2 * n_coins2).reshape(n_rows2, n_cols2)

#turning the 2D array into a DataFrame
flips2 = pd.DataFrame(flips2)
flips2

       0  1  2  3  4  5  6  7
0      1  2  2  1  2  1  2  1
1      2  1  2  2  1  2  1  1
2      1  2  1  2  2  1  1  2
3      1  2  1  1  1  1  2  1
4      2  1  2  1  2  2  2  1
...   .. .. .. .. .. .. .. ..
99995  2  2  2  2  1  1  1  1
99996  2  2  1  1  1  2  2  2
99997  1  1  1  2  2  2  1  2
99998  1  2  1  1  2  2  1  2
99999  1  2  2  1  2  2  1  1

[100000 rows x 8 columns]